* {
  box-sizing: border-box;
  margin: 0%;
}

:root[color-theme='light'] {
  --background: #fff;
  --fontColor: #000;
}

:root[color-theme='dark'] {
  --background: #000;
  --fontColor: #fff;
}

html {
  width: 100%;
  height: 100%;
  background: var(--background);
}

body {
  width: 100%;
  height: 100%;
}

input:disabled {
  color: black;
}

.wrapper {
  padding: 5vh 8vw 8vh 8vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.btn-plus-target{
  height: 3vh;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-plus-target img{
  width: 15px;
}

.btn-target:hover{
  cursor: pointer;
}

.contents__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contents__calendar {
  width: 60%;
}

.contents__toDoList {
  width: 100%;
}

/* 
<div class="common__icon">
  <div class="circle" id="fir"></div>
  <div class="circle" id="sec"></div>
  <div class="circle" id="thr"></div>
  <div class="circle" id="fou"></div>
</div>
*/

.common__icon {
  width: 45%;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.common__icon img {
  width: 100%;
  height: 100%;
}

.todo__cnt {
  position: absolute; /* todo__cnt 요소를 절대 위치로 설정합니다. */
  top: center; /* 상위 요소의 상단에서부터의 위치를 0으로 설정합니다. */
  left: center; /* 상위 요소의 왼쪽에서부터의 위치를 0으로 설정합니다. */
}

/* -------- Divide Line -------- */

.calendar__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
}

.calendar__title__wrapper {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar__title {
  font-size: 20px;
}


.calendar__btn__wrapper {
  width: 15%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  width: 100%;
  height: 100%;
}

.calendar__contents {
  width: 100%;
  height: 100%;
}

.calendar__days {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  align-items: center;
  margin-bottom: 3px;
}

.day {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;

}

.calendar__dateBoard {
  width: 100%;
  aspect-ratio: 5/4;
  display: grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px 0.1vw 0px 0.1vw;
}

.date {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.date__num {
  width: 20px;
  aspect-ratio: 1/1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  border-radius: 50%;
}

#today {
  background-color: rgb(198, 198, 198);
}
/* -------- Divide Line -------- */

.toDoList__wrapper {
  width: 90%;
  height: 100%;
  margin-left: 10%;
}

.target__wrapper {
  width: 100%;

  margin-bottom: 20px;
}

.target {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
  margin-bottom: 15px;
}

.target__title {
  padding: 1px 1px 1px 1px;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.target__icon {
  width: 13px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.target__icon img{
  width: 100%;
}

.btn-plus-todo {
  width: 15px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-plus-todo img{
  width: 100%;
}

.btn-plus-todo:hover {
  cursor: pointer;
}

.todo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.todo__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18px;
  aspect-ratio: 1/1;
  margin-right: 5px;
}

.todo__icon:hover{
  cursor: pointer;
}

.todo__title{
  width: 100%;
  border: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo__title:disabled{
  background-color: #fff;
}

.todo__title:active{
  border: none;
}

.todo__icon img{
  width: 100%;
  height: 100%;
}

.todo__content{
  width: 100%;
  display: flex;
}

.btn-more{
  margin-left: 5px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-more:hover{
  cursor: pointer;
}

.btn-more img{
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-contents {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 20%;
  bottom: 0;
  width: 60%;
  height: 30%;
  overflow: auto;
  border-radius: 10px 10px 0px 0px;
}

.modal__header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal__close {
  margin: 2px 2px 0px 0px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__body{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modal__body img{
  width: 60%;
  height: 60%;
}
.modal__body p{
  height: 10%;
  margin-top: 10px;
  font-size: 20px;
}

.modal__content{
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(216, 216, 216);
}


/* -------- Divide Line -------- */

@media screen and (max-width: 900px) {
  .contents__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contents__calendar {
    width: 100%;
    margin-bottom: 5%;
  }

  .calendar__btn__wrapper {
    height: 80%;
  }

  .toDoList__wrapper {
    margin: 0px;
    margin-left: 10px;
  }

  .calendar__title {
    font-size: 24px;
  }

  .day {
    font-size: 18px;
  }

  .date__num {
    font-size: 18px;
  }

  .target__icon{
    width: 16px;
  }

  .target__title{
    font-size: 20px;
  }

  .btn-more{
    width: 18px;
  }

  .todo__title{
    font-size: 20px;
  }

  .btn-plus-todo img {
    width: 15px;
  }

  .todo__icon{
    width: 23px;
  }

  .modal-contents{
    left: 0;
    width: 100%;
  }

  .modal__close {
    margin: 2px 2px 0px 0px;
    width: 20x;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .contents__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contents__calendar {
    width: 100%;
  }

  .toDoList__wrapper {
    margin: 0px;
    margin-left: 10px;
  }

  .calendar__title {
    font-size: 18px;
  }

  .day {
    font-size: 14px;
  }

  .date__num {
    font-size: 14px;
  }

  .calendar__btn__wrapper {
    height: 100%;
  }

  .target__title {
    font-size: 15px;
  }

  .target__icon img {
    width: 14px;
  }

  .btn-plus-todo img {
    width: 15px;
  }

  .todo__icon{
    width: 23px;
  }

  .todo__title{
    font-size: 15px;
  }
}